*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 20000px;
}
.row div:nth-child(2){
    background-color: brown;
}
.row div:nth-child(1){
    background-color: burlywood;
}
.row div:nth-child(3){
    background-color: blue;
}

#navigate{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}