 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body {
      background: #f5f6fa;
    }
    .register-card {
      max-width: 600px;
      border-radius: 12px;
    }
    .btn-primary {
      background-color: #0d6efd;
      border-radius: 8px;
      padding: 10px;
    }