*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner {
      background: linear-gradient(135deg, #5a5ff0, #6c6ff5);
      color: #fff;
      padding: 80px 15px;
      text-align: center;
}
.brand img{
    height: 20%;
    width: 20%;
}
#highligh{
    background-color: rgba(220, 220, 220, 0.31);
    border-radius: 10px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
#user img{
    border: 2px solid blueviolet;
}

    /* Mobile menu */
    @media (min-width:0px) and (max-width: 767px) {
      .navbar-brand {
        margin-bottom: 16px;
      }
      .user-box {
        margin-top: 20px;
      }
      #user{
        flex-direction: column;
      }
      #highligh{
        padding: 8px;
      }
    }